<template>
    <footer class="bg-white dark:bg-gray-900">
        <div class="bg-gradient-to-r from-red-500 via-orange-600 to-yellow-500 h-32">

            <div class="ml-32 pt-5  flex flex-row grid-row-4 ">


                <div class=" flex space-x-4 text-white ">
                    <a href="#" class=" flex-row  ">
                        <img class="w-20 " src="https://theme.hstatic.net/200000280801/1000673816/14/policy1.png?v=17"
                            alt="">
                        <div class="mt-4">
                            <a class="text-lg" href="">GIAO HÀNG MIỄN PHÍ</a>
                            <p class="text-sm">Với đơn trên 300.000 đ</p>
                        </div>

                    </a>
                    <a href="#" class=" flex-row ">
                        <img class="w-20  ml-20" src="https://theme.hstatic.net/200000280801/1000673816/14/policy2.png?v=17"
                            alt="">
                        <div class="mt-4">
                            <a class="text-lg" href="">HỔ TRỞ 24/7</a>
                            <p class="text-sm">Nhanh chóng thuận tiện</p>
                        </div>

                    </a>
                    <a href="#" class=" flex-row ">
                        <img class="w-20 ml-20" src="https://theme.hstatic.net/200000280801/1000673816/14/policy3.png?v=17"
                            alt="">
                        <div class="mt-4">
                            <a class="text-lg" href="">ĐỔI TRẢ 3 NGÀY</a>
                            <p class="text-sm">Hấp dẫn chưa từng có</p>
                        </div>

                    </a>
                    <a href="#" class=" flex-row ">
                        <img class="w-20 ml-20" src="https://theme.hstatic.net/200000280801/1000673816/14/policy4.png?v=17"
                            alt="">
                        <div class="mt-4">
                            <a class="text-lg" href="">GIÁ TIÊU CHUẨN</a>
                            <p class="text-sm">Tiết kiệm 10% giả cả</p>
                        </div>

                    </a>



                </div>


            </div>
        </div>
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">

            <div class="md:flex md:justify-stretch ">
                <div class="mr-14 mb-6 md:mb-0">
                    <a href="https://flowbite.com/" class="flex items-center">
                        <img src="https://theme.hstatic.net/200000280801/1000673816/14/logo.png?v=17" class="h-11 mr-3"
                            alt="FlowBite Logo" />
                    </a>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <h4 class="mb-3 mt-2">
                            <span class="mb-2 text-xl">Siêu thị nội thất Sea Furniture</span>
                        </h4>
                        <li class="mb-3">
                            <a href="#" class="hover:underline">Trụ sở chính: 94 Trần Vĩ, Xã Ba Vì, Huyện Ba Vì, Hà Nội,Việt
                                Nam</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="hover:underline">Hotline: 0912117494</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Email: dualeotheme@gmail.com</a>
                        </li>

                    </ul>



                </div>
                <div class="grid grid-cols-2 sm:gap-6 sm:grid-cols-3">
                    <div class="mr-32">
                        <h2 class="mb-6 text-sm font-semibold  text-orange-400 uppercase dark:text-white">VỀ CHÚNG TÔI</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Trang chủ</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Giới thiệu</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Sản phẩm</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Tin tức</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base ">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <h2 class="mb-6 text-sm font-semibold  text-orange-400 uppercase dark:text-white">TIN KHUYẾN MÃI</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Trang chủ</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Giới thiệu</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Sản phẩm</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base">Tin tức</a>
                            </li>
                            <li class="mb-2">
                                <a href="" class="hover:underline  hover:text-orange-400 text-base ">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-orange-400 uppercase dark:text-white">TỔNG ĐÀI HỖ TRỢ</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4 flex flex-row">
                                <img class="h-11"
                                    src="https://theme.hstatic.net/200000280801/1000673816/14/24-hours.svg?v=17" alt="">
                                <a class="text-xl text-black m-2" href="">0912117494</a>
                            </li>
                        </ul>
                        <h2 class="mb-6 text-sm font-semibold text-orange-400 uppercase dark:text-white">NHẬN TIN KHUYẾN MÃI
                        </h2>
                        <div class="hidden md:flex items-center">
                            <form class="border-solid border-2 px-2 py-2 border-gray-400 w-56 items-center flex">
                             <input type="text"
                                    class="text-base/5 w-full h-4  border-gray-300 focus:outline-none  "
                                    placeholder="Nhập Email...">
                                 
                            </form>
                            <div class="ml-1 border-solid  px-2 py-1 w-24 bg-orange-400 h-9">                             
                               <button class=" text-sm text-white  hover:text-black ">Đăng ký</button> 
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </footer>
</template>

<script>

</script>

<style lang="scss" scoped></style>