<template>
    <nav class="relative">
        <!--desktop Menu -->
        <!-- <picture class="absolute ">
            <img src="https://theme.hstatic.net/200000280801/1000673816/14/slider_1.jpg?v=17://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
                alt="" class="inset-0 -z-10 h-full w-full object-cover object-right md:object-center" />
        </picture> -->


        <div class="relative">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between">
                    <!--Menu -->
                    <div class="flex space-x-4">
                        <!--Logo -->

                        <a href="" class="flex items-center space-x-2 py-5 px-2"> <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-8 h-8 text-indigo-200">

                            </svg>
                            <img src="https://theme.hstatic.net/200000280801/1000673816/14/logo.png?v=17" alt="">
                        </a>
                        <!--Menu -->

                    </div>
                    <div class="hidden md:flex items-center">

                        <form class="border-solid border-2 px-2 py-2 border-orange-400 w-96 items-center flex">


                            <input type="text" class="text-base/5 w-80 h-9  border-gray-300 rounded-lg focus:outline-none  "
                                placeholder="Tìm kiếm">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="35"
                                viewBox="0 0 50 50" style="fill:#FD7E14;">
                                <path
                                    d="M 7 4 C 5.35 4 4 5.35 4 7 L 4 43 C 4 44.65 5.35 46 7 46 L 43 46 C 44.65 46 46 44.65 46 43 L 46 7 C 46 5.35 44.65 4 43 4 L 7 4 z M 22.5 13 C 27.74 13 32 17.26 32 22.5 C 32 24.76 31.210625 26.840703 29.890625 28.470703 L 37.710938 36.289062 L 36.289062 37.710938 L 28.470703 29.890625 C 26.840703 31.210625 24.76 32 22.5 32 C 17.26 32 13 27.74 13 22.5 C 13 17.26 17.26 13 22.5 13 z M 22.5 15 A 7.5 7.5 0 0 0 15 22.5 A 7.5 7.5 0 0 0 22.5 30 A 7.5 7.5 0 0 0 30 22.5 A 7.5 7.5 0 0 0 22.5 15 z">
                                </path>
                            </svg>

                        </form>
                    </div>

                    <!--Login-->
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/Login" class="py-5 px-2 text-black hover:text-orange-400">
                            Login</a>|
                        <a href="/Register" class="py-5 px-2  text-black hover:text-orange-400">
                            Register</a>

                    </div>
                    <!--button show mobile menu-->
                    <div class="md:hidden flex items-center">
                        <form
                            class="border-solid rounded-lg border-2 px-2 py-2 border-orange-200 w-64 h-11 items-center flex">


                            <input type="text" class="text-base/5 w-60 h-10  border-gray-300 rounded-lg focus:outline-none "
                                placeholder="Tìm kiếm">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="25"
                                viewBox="0 0 50 50" style="fill:#FD7E14;">
                                <path
                                    d="M 7 4 C 5.35 4 4 5.35 4 7 L 4 43 C 4 44.65 5.35 46 7 46 L 43 46 C 44.65 46 46 44.65 46 43 L 46 7 C 46 5.35 44.65 4 43 4 L 7 4 z M 22.5 13 C 27.74 13 32 17.26 32 22.5 C 32 24.76 31.210625 26.840703 29.890625 28.470703 L 37.710938 36.289062 L 36.289062 37.710938 L 28.470703 29.890625 C 26.840703 31.210625 24.76 32 22.5 32 C 17.26 32 13 27.74 13 22.5 C 13 17.26 17.26 13 22.5 13 z M 22.5 15 A 7.5 7.5 0 0 0 15 22.5 A 7.5 7.5 0 0 0 22.5 30 A 7.5 7.5 0 0 0 30 22.5 A 7.5 7.5 0 0 0 22.5 15 z">
                                </path>
                            </svg>

                        </form>
                        <button @click="showMobileMenu = !showMobileMenu" class=" py-5 px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-8 h-8 text-orange-400">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
            <div class="max-w-6xl mx-auto">
                <div class="flex justify-between font-serif">
                    <!-- Menu -->
                    <div class="flex items-center cursor-pointer py-1">
                        <!-- Navbar -->
                        <div class="hidden md:flex items-center space-x-8 cursor-pointer">
                            <div class="relative inline-flex flex-col  bg-amber-400 font-bold w-70  ">
                                <button @click="dropDown3 = !dropDown3"
                                    class="px-2 hover:text-orange-400 flex items-center uppercase">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="25"
                                        viewBox="0,0,256,256" class="pr-4">
                                        <g fill="#1e1a1a" fill-rule="nonzero" stroke="none" stroke-width="1"
                                            stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                            font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                            <g transform="scale(5.12,5.12)">
                                                <path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    Danh mục sản phẩm
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mx-1">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                                <div v-if="dropDown3" class="absolute w-full mt-6 border-b border-gray-100 bg-gray-50">
                                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                        href="#">Sofa</a>
                                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                        href="#">Ghế</a>
                                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                        href="#">Trang trí </a>

                                </div>
                            </div>


                            <a href="/TrangChu" class="px-2 hover:text-orange-400">TRANG CHỦ</a>
                            <a href="/Introduce" class="px-2 hover:text-orange-400">GIỚI THIỆU</a>
                            <!-- Dropdown Sản Phẩm -->
                            <div class="relative inline-flex flex-col  ">
                                <div class="flex hover:text-orange-400">
                                    <a href="/Product"> SẢN PHẨM</a>
                                    <button @click="dropDown1 = !dropDown1"
                                        class="px-2 hover:text-orange-400 flex items-center">

                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mx-1">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                        </svg>
                                    </button>
                                </div>
                                <div v-if="dropDown1" class="absolute w-full mt-6 border-b border-gray-100 bg-gray-50">
                                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                        href="#">Sản phẩm 1</a>
                                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                        href="#">Sản phẩm 2</a>
                                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                        href="#">Sản phẩm 3</a>
                                </div>
                            </div>
                            <a href="/New" class="px-2 hover:text-orange-400">TIN TỨC</a>

                            <a href="/Content" class="px-2 hover:text-orange-400">LIÊN HỆ</a>
                            <a href="#" class="px-2 hover:text-orange-400"> Hotline: 0912117494 </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile menu -->
        <div class="relative md:hidden  bg-white" :class="{ hidden: showMobileMenu }">

            <a href="#"
                class="block py-2 px-4 border-2 border-white border-b-gray-100 hover:text-orange-400 text-black">Trang
                chủ</a>
            <a href="#"
                class="block py-2 px-4 border-2 border-white border-b-gray-100 hover:text-orange-400 text-black">Giới
                thiệu</a>

            <a href="" class="block py-2 px-4 border-2 border-white  border-b-gray-100 hover:text-orange-400 text-black">Tin
                tức</a>

            <div class="flex  py-2 px-4 border-2 border-white  border-b-gray-100 text-black">

                <a href="#" class="flex-none  hover:text-orange-400">Sản phẩm </a>
                <h1 class="grow h-1"></h1>
                <button @click="dropDown2 = !dropDown2" class="px-2 hover:text-orange-400 flex flex-col-reverse ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 mx-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                <ul v-if="dropDown2" class="absolute w-full mt-6 border-b border-gray-100 bg-gray-50">
                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Sản phẩm 1</a>
                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Sản phẩm 2</a>
                    <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Sản phẩm 3</a>
                </ul>

            </div>



        </div>


    </nav>
    <!-- <div class=" p-8 text-2xl font-extrabold text-center">

        
    </div> -->
</template>

<script setup >
import { ref } from 'vue';

const showMobileMenu = ref(true);
const dropDown1 = ref(false);
const dropDown2 = ref(false);
const dropDown3 = ref(false);

</script>

<style lang="scss" scoped></style>