<template>
    <div>
        <picture>
            <img class="w-full h-auto " :src="imageUrl" alt="Web Banner" />
        </picture>


    </div>
</template>
  
<script>
export default {
    data() {
        return {
            imageUrls: [
                // 'https://theme.hstatic.net/200000280801/1000673816/14/slider_1.jpg?v=17://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply',
                'https://bizweb.dktcdn.net/100/338/027/themes/694733/assets/slider_1.png?1676704642001',
                 'https://bizweb.dktcdn.net/100/338/027/themes/694733/assets/slider_2.png?1676704642001',
                 'https://hstatic.net/336/1000150336/1000203404/slideshow_1.jpg?v=24',
            ],
            currentImageIndex: 0,
        };
    },
    computed: {
        imageUrl() {
            return this.imageUrls[this.currentImageIndex];
        },
    },
    mounted() {
        // Start the timer to switch the image every 5 seconds (adjust the duration as needed)
        setInterval(this.switchImage, 5000);
    },
    methods: {
        switchImage() {
            // Increment the currentImageIndex
            this.currentImageIndex++;

            // If the currentImageIndex exceeds the length of the imageUrls array, reset it to 0
            if (this.currentImageIndex >= this.imageUrls.length) {
                this.currentImageIndex = 0;
            }
        },
    },
};
</script>
