<template>
    <div>   
        
     <Navbar></Navbar>
    <!-- <Panner></Panner>    -->
    <!-- <TrangChu></TrangChu> -->
        <!-- <New></New> -->
    <!-- <Product></Product> -->
    <!-- <Login></Login> -->
    <!-- <Register></Register> -->
    <!-- <Introduce></Introduce> -->
    <slot/>
    <Footer></Footer>
        
 <!-- <Content></Content> -->
    
       
    </div>
</template>

<script setup lang="ts">



</script>

<style scoped>

</style>