<template>
    <div class="text-center mt-6"
        style="background-image: url(https://noithatvinh.com/wp-content/uploads/2021/03/banner-4.jpg)">
        <div class="grid grid-rows-2 grid-flow-col   text-white">
            <div class="mt-20  font-mono">
                <p class="text-5xl ml-14">Tin tức</p>
            </div>
            <div class="flex flex-nowrap ml-96 text-lg">
                <p class="ml-80 hover:text-orange-400">Trang Chủ </p>
                <span class="ml-2 font-mono">></span>
                <p class="ml-2 text-orange-400"> Tin tức</p>
            </div>
        </div>
    </div>
    <div class="container mx-auto w-10/12 mt-10 mb-10 ">
        <div class=" grid grid-cols-7 gap-3">
            <div class="col-span-2">
                <div class="text-base grid grid-rows-3 gap-4">
                    <div>
                        <p>94,Trần Vĩ, Xã Ba Vì,Huyện Ba Vì,Hà Nội, Việt Nam</p>
                    </div>
                    <div>
                        <p>Hotline: 0912117494</p>
                    </div>
                    <div>
                        <p>dualeotheme@gmail.com</p>
                    </div>
                </div>
                <div class="mt-10">
                    <p class="text-2xl mb-6"> Liên hệ</p>
                    <div class="mb-4">
                        <input type="text" id="default-input"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Họ và tên">
                    </div>
                    <div class="mb-4">
                        <input type="text" id="default-input"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Email">
                    </div>
                    <div>
                        <textarea id="message" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Nội dung"></textarea>
                    </div>
                    <div   class="mt-6">
                        <button type="button"
                            class="focus:outline-none text-white bg-orange-400 hover:bg-orange-500 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 h-12 dark:focus:ring-yellow-900">Giử liên hệ</button>
                    </div>
                </div>
            </div>
            <div class="col-span-5 ml-14">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59567.93929078221!2d105.27585099588882!3d21.07281376205388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31346123e0a45293%3A0xb5e5cd70725b861b!2zQmEgVsOsLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1698392538596!5m2!1svi!2s"
                    width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>

    </div>
</template>

<script >

</script>

<style lang="scss" scoped></style>