<template>
    <section>

        <div class="ml-40 mr-20">
            <div class="grid grid-rows-6 grid-flow-col gap-1">
                <div class="mt-10">
                    <a href="" class="text-4xl  hover:text-orange-400">Giới thiệu</a>
                </div>
                <div class="mt-6">
                    <p>Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ thể về
                        việc kinh doanh, về cửa hàng, thông tin liên hệ. Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi
                        mua hàng trên website của bạn.</p>

                </div>
                <div class="row-span-3">
                    <p class="mb-2">Một vài gợi ý cho nội dung trang Giới thiệu:</p>
                    <ul class="ml-4">
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Bạn là ai
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Giá trị kinh doanh của bạn là gì
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Địa chỉ cửa hàng
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Bạn đã kinh doanh trong ngành hàng này bao lâu rồi
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Bạn kinh doanh ngành hàng online được bao lâu
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Đội ngũ của bạn gồm những ai
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 " src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Thông tin liên hệ
                            </span>
                        </li>
                        <li class="flex flex-nowrap ml-4">
                            <img class="mt-1 w-4 h-4 "  src="https://img.icons8.com/material-rounded/24/full-stop.png"
                                alt="full-stop" />
                            <span class="ml-2">
                                Liên kết đến các trang mạng xã hội (Twitter, Facebook)
                            </span>
                        </li>
                    </ul>

                </div>
                <div><p>Bạn có thể chỉnh sửa hoặc xoá bài viết này tại đây hoặc thêm những bài viết mới trong phần quản lý Trang nội dung.</p></div>
            </div>

        </div>
    </section>
</template>

<script setup>

</script>

<style lang="scss" scoped></style>