<template>
    <div>
        <div class="text-center mt-6"
            style="background-image: url(https://noithatvinh.com/wp-content/uploads/2021/03/banner-4.jpg)">
            <div class="grid grid-rows-2 grid-flow-col   text-white">
                <div class="mt-20  font-mono">
                    <p class="text-5xl ml-10">Tất cả sản phẩm</p>
                </div>
                <div class="flex flex-nowrap ml-80 text-lg">
                    <p class="ml-80 hover:text-orange-400">Trang Chủ </p>
                    <span class="ml-2 font-mono">></span>
                    <p class="ml-2 text-orange-400"> Tất cả sản phẩm</p>
                </div>
            </div>
        </div>
        <div class="relative">
            <div class="absolute left-0 right-0 m-auto -top-10 w-max">
                <!-- Header -->
                <div class=" flex  bg-slate-50">
                    <div class=" w-48 h-1/2  py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Chair'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/036-sofa-1_a7ebdf06ace04ea89ca902476cb22632.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Sofa</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Table'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/043-chair-2_5167b889e218465fba9faf07bdb7dc19.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Ghế</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Bed'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/022-lamp_82b4234113484b53b4ee0a1a8504d1de.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Trang trí</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Tiles'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/012-shelf_7e79d57824b345d0ba184f7e8c0c9a23.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Kệ sách</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Bath'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/006-table-1_ad853cf4b5ab4d919552e0fc67e52ff8.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Bàn</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Kitchen'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/050-closet_74974ddd24a34029bfeaf0eed1d90304.png"
                                alt="">
                            <h2 class="ps-12 font-semibold text-lg">Tủ quần áo</h2>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container mx-auto w-10/12 mt-28">
        <div class="grid grid-cols-9 ">
            <div class="col-span-2 grid-rows-4 font-mono rounded-lg text-gray-400">
                <div class="grid grid-rows-none">
                    <div class="mb-3 row-span-1  flex flex-row  border-b-2 text-base border-gray-300">
                        <div class="  bg-orange-400 w-36 h-10 mt-6">
                            <p class="text-center m-2  hover:text-blue-900 text-white">Tin Tức</p>
                        </div>
                    </div>
                    <div class="row-span-2 border-solid border-2  border-orange-400 font-mono rounded-lg text-gray-400">
                        <div class="mt-5">
                            <a class="ml-10 hover:text-orange-300" href="#">Trang chủ </a> <br>
                        </div>
                        <div class="mt-3">
                            <a class="ml-10 hover:text-orange-300" href="#">Giới thiệu</a><br>
                        </div>
                        <div class="relative grid-rows-2 mt-3 ml-8 ">
                            <div class="flex ml-2 hover:text-orange-300">
                                <a class="mr-24" href="#">Sản Phẩm</a>
                                <button @click="dropDown1 = !dropDown1"
                                    class="px-2 hover:text-orange-400 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mx-1">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>

                            <div v-if="dropDown1" class="ml-4 w-28 border-b border-gray-100 font-serif ">
                                <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Sofa
                                </a>
                                <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Ghế
                                </a>
                                <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Trang
                                    trí
                                </a>
                                <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Kệ
                                    sách
                                </a>
                                <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Bàn
                                </a>
                                <a class="block p-3 border-b text-left border-gray-100 hover:text-orange-400" href="#">Tủ áo
                                </a>
                            </div>
                        </div>
                        <div class="mt-3">

                            <a class="ml-10 hover:text-orange-300" href="#">Tin tức </a><br>
                        </div>
                        <div class="mt-3 mb-4">
                            <a class="ml-10 hover:text-orange-300" href="#">Liên hệ</a><br>
                        </div>

                    </div>

                </div>
                <div class="grid grid-rows-none">
                    <div class="mb-3 row-span-1  flex flex-row  border-b-2 text-base border-gray-300">
                        <div class="  bg-orange-400 w-36 h-10 mt-6">
                            <p class="text-center m-2  hover:text-blue-900 text-white">Thương hiệu</p>
                        </div>
                    </div>

                    <div
                        class="relative w-full max-w-sm overflow-y-scroll border-solid border-2 border-orange-400 rounded-lg h-72">
                        <ul class="mb-4">
                            <li class="flex ml-6 mt-3">
                                <input type="radio">
                                <p class="ml-3">Aillen</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Hobu</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Miso</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Woody</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Euro</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Tabu</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">BELLA</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Luxury</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Poplar</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">ALICE</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">AURORA</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">Binas</p>
                            </li>
                            <li class="flex ml-6 mt-4">
                                <input type="radio">
                                <p class="ml-3">ARABICA</p>
                            </li>



                        </ul>

                    </div>


                </div>
                <div class="grid grid-rows-none">
                    <div class="mb-3 row-span-1  flex flex-row  border-b-2 text-base border-gray-300">
                        <div class="  bg-orange-400 w-36 h-10 mt-6">
                            <p class="text-center m-2  hover:text-blue-900 text-white">Khoảng giá</p>
                        </div>
                    </div>

                    <div class="relative w-full max-w-sm  border-solid border-2 border-orange-400 rounded-lg h-64">
                        <ul class="mb-4">
                            <li class=" ml-6 mt-3">
                                <a class="flex  hover:text-orange-400" href="">
                                    <input type="radio">
                                    <p class="ml-3">Giá dưới 100.000đ</p>
                                </a>

                            </li>
                            <li class=" ml-6 mt-4">
                                <a class="flex  hover:text-orange-400" href="">
                                    <input type="radio">
                                    <p class="ml-3"> 100.000đ - 200.000đ</p>
                                </a>

                            </li>
                            <li class=" ml-6 mt-4">
                                <a class="flex  hover:text-orange-400" href="">
                                    <input type="radio">
                                    <p class="ml-3"> 200.000đ - 300.000đ</p>
                                </a>

                            </li>
                            <li class=" ml-6 mt-4">
                                <a class="flex  hover:text-orange-400" href="">
                                    <input type="radio">
                                    <p class="ml-3">300.000đ - 500.000đ</p>
                                </a>

                            </li>
                            <li class=" ml-6 mt-4">
                                <a class="flex  hover:text-orange-400" href="">
                                    <input type="radio">
                                    <p class="ml-3">500.000đ - 1.000.000đ</p>
                                </a>

                            </li>
                            <li class=" ml-6 mt-4">
                                <a class="flex  hover:text-orange-400" href="">
                                    <input type="radio">
                                    <p class="ml-3"> Giá trên 1.000.000đ</p>
                                </a>

                            </li>



                        </ul>
                    </div>
                </div>
                <div class="grid grid-rows-none">
                    <div class="mb-3 row-span-1  flex flex-row  border-b-2 text-base border-gray-300">
                        <div class="  bg-orange-400 w-36 h-10 mt-6">
                            <p class="text-center m-2  hover:text-blue-900 text-white">Màu sắc</p>
                        </div>
                    </div>

                    <div class="relative w-full max-w-sm  border-solid border-2 border-orange-400 rounded-lg h-20 mb-8">
                        <div class="flex-row ml-5 mt-5">
                            <button type="button"
                                class="text-white w-8 h-8 bg-yellow-400  focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">

                                <span class="sr-only">Icon </span>
                            </button>
                            <button type="button"
                                class="text-white w-8 h-8 bg-purple-500  focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">

                                <span class="sr-only">Icon </span>
                            </button>
                            <button type="button"
                                class="text-white w-8 h-8 bg-red-500  focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">

                                <span class="sr-only">Icon </span>
                            </button>
                            <button type="button"
                                class="text-white w-8 h-8 bg-green-400  focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">

                                <span class="sr-only">Icon </span>
                            </button>
                            <button type="button"
                                class="text-white w-8 h-8 bg-pink-500 focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">

                                <span class="sr-only">Icon </span>
                            </button>
                            <button type="button"
                                class="text-white w-8 h-8 bg-orange-500  focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">

                                <span class="sr-only">Icon </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-7 grid-rows-6">
                <div class="mb-3 ml-7 row-span-1  flex flex-row  text-base ">
                    <div class=" basis-1/3 h-10 mt-6">
                        <p class=" m-2 text-xl ">Kết quả tìm kiếm - Sea Furniture</p>
                    </div>
                    <div class="basis-1/3">

                    </div>
                    <div class=" mt-5 ml-12">
                        <div class="relative grid-rows-2 mt-2 ml-8 ">
                            <div class="flex ml-2 text-lg">
                                <p class=" ">Sắp xếp theo:</p>
                                <button @click="dropDown2 = !dropDown2"
                                    class="px-2 hover:text-orange-400 flex items-center">
                                    Mặc định
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mx-1">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>

                            <div v-if="dropDown2" class="absolute ml-2 w-52 border-solid border-2 border-gray-100  ">
                                <a class="ml-6 block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                    href="#">A --> Z
                                </a>
                                <a class="ml-6 block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                    href="#">Z --> A
                                </a>
                                <a class="ml-6 block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                    href="#">Giá tăng dần

                                </a>
                                <a class="ml-6 block p-3 border-b text-left border-gray-100 hover:text-orange-400"
                                    href="#">Giá giảm dần

                                </a>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="rows-span-5 grid grid-cols-4 gap-7 ml-9">



                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_1dbf5c0621a7410c83406c329e08ac3a_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Bàn Aillen 02</a>
                            </h3>
                            <p class="text-orange-500 mt-1">670,000₫</p>
                        </div>


                    </div>
                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_babeef6fa6044844b32d08b14892f8c1_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Bàn Binas</a>
                            </h3>
                            <p class="text-orange-500 mt-1">900,000₫</p>
                        </div>


                    </div>
                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_6335a50c71584d4fb92ebc1957c6f55a_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Đồng hồ Miso</a>
                            </h3>
                            <p class="text-orange-500 mt-1">1,000,000₫</p>
                        </div>


                    </div>
                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_9a8f14769bdf4fee829e345726d85346_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Đồng hồ Tabu</a>
                            </h3>
                            <p class="text-orange-500 mt-1">350,000₫</p>
                        </div>


                    </div>
                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_0ba54b04a9f54d5a8498338ff2bc8273_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Đồng hồ Tabu 001</a>
                            </h3>
                            <p class="text-orange-500 mt-1">600,000₫</p>
                        </div>


                    </div>
                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_6b032c7ce891416e8c001bc6a063b57e_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Ghế Euro</a>
                            </h3>
                            <p class="text-orange-500 mt-1">960,000₫</p>
                        </div>


                    </div>
                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_cbd997dac1b64693a255edc1f3c4355c_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Ghế Euro 02</a>
                            </h3>
                            <p class="text-orange-500 mt-1">750,000₫</p>
                        </div>


                    </div>

                    <div class="bg-slate-50 ">
                        <a href="#"> <img class="  w-full h-4/6"
                                src="https://product.hstatic.net/200000280801/product/upload_470ce5aa3e8e4c7eaa1302d321ddd1b1_large.jpg"
                                alt="">
                        </a>
                        <div class="text-center mt-4">
                            <h3>
                                <a href="#" class=" hover:text-orange-400">Ghế Woody Pinky</a>
                            </h3>
                            <p class="text-orange-500 mt-1">1,250,000₫</p>
                        </div>


                    </div>

                </div>

            </div>
        </div>







    </div>


    <slot />
</template>
<script setup >
import { ref } from 'vue';


const dropDown1 = ref(false);
const dropDown2 = ref(false);


</script>

<style lang="scss" scoped></style>