<template>
    <div>
        <img class="w-full h-auto" :src="imageUrl" alt="Web Banner" />
        <div class="relative">
            <div class="absolute left-0 right-0 m-auto -top-28 w-max">
                <!-- Header -->
                <div class=" flex  bg-slate-50">
                    <div class=" w-48 h-1/2  py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Chair'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/036-sofa-1_a7ebdf06ace04ea89ca902476cb22632.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Sofa</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Table'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/043-chair-2_5167b889e218465fba9faf07bdb7dc19.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Ghế</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Bed'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/022-lamp_82b4234113484b53b4ee0a1a8504d1de.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Trang trí</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Tiles'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/012-shelf_7e79d57824b345d0ba184f7e8c0c9a23.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Kệ sách</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Bath'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/006-table-1_ad853cf4b5ab4d919552e0fc67e52ff8.png"
                                alt="">
                            <h2 class=" ps-14  font-semibold text-lg">Bàn</h2>
                        </button>
                    </div>

                    <div class="w-48 h-1/2 py-2 px-2 border-solid border-2 bg-white border-gray-100 rounded-md">
                        <button @click="selectComponents = 'Kitchen'">
                            <img class="py-5 ps-16 w-28"
                                src="https://file.hstatic.net/200000280801/collection/050-closet_74974ddd24a34029bfeaf0eed1d90304.png"
                                alt="">
                            <h2 class="ps-12 font-semibold text-lg">Tủ quần áo</h2>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container mx-auto w-10/12 mt-10">
        <div class="grid grid-rows-6 grid-cols-3 gap-2 ">
            <div class="row-span-6  border-solid border-2 border-amber-400 ">
                <img class="py-5 ps-10 w-96 h-96"
                    src="https://product.hstatic.net/200000280801/product/upload_e2e740ce86b24f429cd1dfbe206777b2_large.jpg"
                    alt="">
                <div class="mb-32">
                    <h1 class="py-5 ps-36  hover:text-orange-400">Bàn Aillen 01</h1>
                    <p class=" ps-36 text-orange-400">460,000$</p>
                </div>

            </div>
            <div class=" col-span-2 flex flex-row  h-16 border-b-2 border-gray-300">

                <div class=" basis-1/4 bg-orange-500 w-36 h-10 mt-6">
                    <p class="text-center m-2  hover:text-blue-400 text-white"> NỔI BẬT NHẤT</p>
                </div>
                <div class="basis-1/4"></div>
                <div class="m-5 basis-2/3 flex space-x-8">
                    <a href="#" class=" hover:text-orange-400">Sofa</a>
                    <a href="#" class=" hover:text-orange-400">Ghế</a>
                    <a href="#" class=" hover:text-orange-400">Trang trí</a>
                    <a href="#" class=" hover:text-orange-400">Kệ sách</a>
                    <a href="#" class=" hover:text-orange-400">Bàn</a>
                    <a href="#" class=" hover:text-orange-400">Xem tất cả</a>

                </div>


            </div>

            <div class="col-span-2 row-span-5 border-solid border-2 border-gray-100  grid grid-rows-2 grid-cols-4 gap-4">

                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_e2e740ce86b24f429cd1dfbe206777b2_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Aillen 01</a>
                        </h3>
                        <p class="text-orange-500 mt-1">460,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_babeef6fa6044844b32d08b14892f8c1_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Binas</a>
                        </h3>
                        <p class="text-orange-500 mt-1">900,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_6b032c7ce891416e8c001bc6a063b57e_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Euro</a>
                        </h3>
                        <p class="text-orange-500 mt-1">960,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_cbd997dac1b64693a255edc1f3c4355c_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Euro 02</a>
                        </h3>
                        <p class="text-orange-500 mt-1">750,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_111b23fecf12438cbaaf881b39ad6182_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Luxury</a>
                        </h3>
                        <p class="text-orange-500 mt-1">570,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_900a35429e89464bb1f66bdae46142d9_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Woody</a>
                        </h3>
                        <p class="text-orange-500 mt-1">900,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_470ce5aa3e8e4c7eaa1302d321ddd1b1_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Woody Pinky</a>
                        </h3>
                        <p class="text-orange-500 mt-1">1,250,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_23f65cdc9c064abb8be1179d2b6cf118_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Sofa đơn ALICE</a>
                        </h3>
                        <p class="text-orange-500 mt-1">800,000₫</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-1 mt-16">

            <div class="ml-6 bg-no-repeat transition ease-in-out delay-150  hover:-translate hover:scale-110  duration-1000 h-60 "
                style="background-image: url(https://theme.hstatic.net/200000280801/1000673816/14/banner_1.jpg?v=17);">
                <a href=" " class="text-center">
                    <button type="button"
                        class=" mt-24 ml-44  hover:text-orange-400 text-center backdrop-brightness-125 bg-white/30 w-60 h-10 cursor-pointer uppercase text-2xl">PHÒNG
                        BẾP</button>

                </a>
            </div>
            <div class="ml-6 bg-no-repeat transition ease-in-out delay-150  hover:-translate hover:scale-110  duration-1000 h-60 "
                style="background-image: url(https://theme.hstatic.net/200000280801/1000673816/14/banner_2.jpg?v=17);">
                <a href=" " class="text-center">
                    <button type="button"
                        class=" mt-24 ml-44  hover:text-orange-400 text-center backdrop-blur-sm bg-white/30 w-60 h-10 cursor-pointer text-2xl">PHÒNG
                        KHÁCH</button>

                </a>
            </div>

        </div>

        <div class="grid grid-rows-6 grid-cols-3 gap-2 ">

            <div class=" col-span-2 flex flex-row  h-16 border-b-2 border-gray-300">

                <div class=" basis-1/4 bg-orange-500 w-36 h-10 mt-6">
                    <p class="text-center m-2  hover:text-blue-400 text-white">SẢN PHẨM HOT </p>
                </div>
                <div class="basis-1/4"></div>
                <div class="m-5 basis-2/3 flex space-x-8">
                    <a href="#" class=" hover:text-orange-400">Sofa</a>
                    <a href="#" class=" hover:text-orange-400">Ghế</a>
                    <a href="#" class=" hover:text-orange-400">Trang trí</a>
                    <a href="#" class=" hover:text-orange-400">Kệ sách</a>
                    <a href="#" class=" hover:text-orange-400">Bàn</a>
                    <a href="#" class=" hover:text-orange-400">Xem tất cả</a>

                </div>


            </div>
            <div class="row-span-6  border-solid border-2 border-amber-400 ">
                <img class="py-5 ps-10 w-96 h-96"
                    src="https://product.hstatic.net/200000280801/product/upload_e2e740ce86b24f429cd1dfbe206777b2_large.jpg"
                    alt="">
                <div class="mb-32">
                    <h1 class="py-5 ps-36  hover:text-orange-400">Bàn Aillen 01</h1>
                    <p class=" ps-36 text-orange-400">460,000$</p>
                </div>

            </div>

            <div class="col-span-2 row-span-5 border-solid border-2 border-gray-100  grid grid-rows-2 grid-cols-4 gap-4">

                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_1dbf5c0621a7410c83406c329e08ac3a_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Aillen 02</a>
                        </h3>
                        <p class="text-orange-500 mt-1">670,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_babeef6fa6044844b32d08b14892f8c1_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Binas</a>
                        </h3>
                        <p class="text-orange-500 mt-1">900,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_6335a50c71584d4fb92ebc1957c6f55a_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Đồng hồ Miso</a>
                        </h3>
                        <p class="text-orange-500 mt-1">1,000,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_9a8f14769bdf4fee829e345726d85346_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Đồng hồ Tabu</a>
                        </h3>
                        <p class="text-orange-500 mt-1">350,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_0ba54b04a9f54d5a8498338ff2bc8273_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Đồng hồ Tabu 001</a>
                        </h3>
                        <p class="text-orange-500 mt-1">600,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_6b032c7ce891416e8c001bc6a063b57e_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Euro</a>
                        </h3>
                        <p class="text-orange-500 mt-1">960,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_cbd997dac1b64693a255edc1f3c4355c_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Euro 02</a>
                        </h3>
                        <p class="text-orange-500 mt-1">750,000₫</p>
                    </div>


                </div>

                <div class="bg-slate-50 ">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_470ce5aa3e8e4c7eaa1302d321ddd1b1_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Ghế Woody Pinky</a>
                        </h3>
                        <p class="text-orange-500 mt-1">1,250,000₫</p>
                    </div>


                </div>

            </div>
        </div>

        <div class="mt-10">
            <div class="  transition ease-in-out delay-150  hover:-translate hover:scale-110  duration-1000">
                <img src="https://theme.hstatic.net/200000280801/1000673816/14/banner.jpg?v=17" alt="">
            </div>


        </div>

        <div class="mt-16 grid grid-rows-5  gap-1">
            <div class="col-span-5 row-span-1 flex flex-row  h-16 border-b-2 border-gray-300">

                <div class=" basis-1/5 bg-orange-400 w-36 h-10 mt-6">
                    <p class="text-center m-2  hover:text-blue-400 text-white">SẢN PHẨM MỚI VỀ </p>
                </div>


            </div>
            <div class=" mt-3 col-span-5 row-span-4  flex flex-row grid-cols-5  gap-8">
                <div class="bg-slate-50  w-60">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_1a5fa074362a4f5d9cd8b8419e55f243_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Aillen</a>
                        </h3>
                        <p class="text-orange-500 mt-1">1,300,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50  w-60">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_1dbf5c0621a7410c83406c329e08ac3a_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Aillen 02</a>
                        </h3>
                        <p class="text-orange-500 mt-1">670,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50  w-60">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_c42f152fbc634eb79a41d001e370873f_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Aillen 03</a>
                        </h3>
                        <p class="text-orange-500 mt-1">1,400,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50  w-60">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_150be07ae08e45e8b21b91d6093d647f_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn ARABICA</a>
                        </h3>
                        <p class="text-orange-500 mt-1">600,000₫</p>
                    </div>


                </div>
                <div class="bg-slate-50  w-60">
                    <a href="#"> <img class="  w-full h-4/6"
                            src="https://product.hstatic.net/200000280801/product/upload_babeef6fa6044844b32d08b14892f8c1_large.jpg"
                            alt="">
                    </a>
                    <div class="text-center mt-4">
                        <h3>
                            <a href="#" class=" hover:text-orange-400">Bàn Binas</a>
                        </h3>
                        <p class="text-orange-500 mt-1">900,000₫</p>
                    </div>


                </div>



            </div>

        </div>
        <div class=" mt-5 grid grid-rows-5 mb-10">
            <div class=" mt-7 row-span-1  flex flex-row  h-16 border-b-2 border-gray-300">
                <div class=" basis-1/5 bg-orange-600 w-36 h-10 mt-6">
                    <p class="text-center m-2  hover:text-blue-900 text-white">MẸO VẶT HAY</p>
                </div>
            </div>
            <div class=" row-span-4 flex flex-row grid-cols-3 gap-8 bg-gradient-to-b from-white via-gray-100 to-gray-400">
                <div class="max-w-sm ml-6">
                    <div class="bg-white"> 
                    <a href="#">
                        <img
                            src="https://file.hstatic.net/200000280801/article/tu-tu-unsplash-1_7a7c74c5f9034ac28ff932dacf10b25d_large.jpg"
                            alt="" />
                    </a>
                    <div class="ml-12 mt-2 flex-nowrap inline-flex gap-2">
                        <div>
                            <img class="w-6"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nO2awQqDMBBE5/M8+f/nNH7HiKAimqBNle6u82APNbLxMUnqQeA6HYAPAM6V5mt38XT/lbSZZDuZl/4rS/Pab+v9/Yn0AIZCvPvaT3R3LZzdN8zPfOCKhCURAsglkbMorS0t1sZfI5KMHb9sFel2kz3xh5i+6N8sYg1KxFsidFYHwol4gRIxBl+fCK1s5l8TCSdiYWxCIlQi0NIi6ujUoo5faI/wyT1iYWxCIoyWCKO8NDKKSJilVUIiUCLQ0mK0U4veRaxBiRiD4RPJf9zQrZVLIr0zmVz7hEPAACM+lmuVp/4UlgAAAABJRU5ErkJggg==">
                        </div>
                        <div>
                            07/01/2021
                        </div>
                        <div>
                            <p class="font-serif">Đăng bởi: Dang Danh </p>

                        </div>

                    </div>
                    </div>
                    <div class="p-5">

                        <a href="#">
                            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Mẹo quản lý &
                                vệ sinh nội thất</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Đối với nội thất bằng kim loại

                            - Khi xử lý các vết bẩn thông thường, bạn chỉ cần xịt một chút dung dịch vệ sinh kính và dùng
                            khăn mềm để lau qua.
                            
                        </p>
                        
                    </div>
                </div>  
                <div class="max-w-sm">
                    <div class="bg-white"> 
                    <a href="#">
                        <img
                            src="https://file.hstatic.net/200000280801/article/stefan-stefancik-unsplash_bd5039cbf6134b439ff9cde0e9c97a7b_large.jpg"
                            alt="" />
                    </a>
                    <div class="ml-12 mt-2 flex-nowrap inline-flex gap-2">
                        <div>
                            <img class="w-6"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nO2awQqDMBBE5/M8+f/nNH7HiKAimqBNle6u82APNbLxMUnqQeA6HYAPAM6V5mt38XT/lbSZZDuZl/4rS/Pab+v9/Yn0AIZCvPvaT3R3LZzdN8zPfOCKhCURAsglkbMorS0t1sZfI5KMHb9sFel2kz3xh5i+6N8sYg1KxFsidFYHwol4gRIxBl+fCK1s5l8TCSdiYWxCIlQi0NIi6ujUoo5faI/wyT1iYWxCIoyWCKO8NDKKSJilVUIiUCLQ0mK0U4veRaxBiRiD4RPJf9zQrZVLIr0zmVz7hEPAACM+lmuVp/4UlgAAAABJRU5ErkJggg==">
                        </div>
                        <div>
                            07/01/2021
                        </div>
                        <div>
                            <p class="font-serif">Đăng bởi: Dang Danh </p>

                        </div>

                    </div>
                    </div>
                    <div class="p-5">

                        <a href="#">
                            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Mẹo quản lý &
                                vệ sinh nội thất</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Đối với nội thất bằng kim loại

                            - Khi xử lý các vết bẩn thông thường, bạn chỉ cần xịt một chút dung dịch vệ sinh kính và dùng
                            khăn mềm để lau qua.
                            
                        </p>
                        
                    </div>
                </div>
                <div class="max-w-sm">
                    <div class="bg-white"> 
                    <a href="#">
                        <img
                            src="https://file.hstatic.net/200000280801/article/dining-suite-for-sale_3e9855102ea7430bb5fd721440440e35_large.jpg"
                            alt="" />
                    </a>
                    <div class="ml-12 mt-2 flex-nowrap inline-flex gap-2">
                        <div>
                            <img class="w-6"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nO2awQqDMBBE5/M8+f/nNH7HiKAimqBNle6u82APNbLxMUnqQeA6HYAPAM6V5mt38XT/lbSZZDuZl/4rS/Pab+v9/Yn0AIZCvPvaT3R3LZzdN8zPfOCKhCURAsglkbMorS0t1sZfI5KMHb9sFel2kz3xh5i+6N8sYg1KxFsidFYHwol4gRIxBl+fCK1s5l8TCSdiYWxCIlQi0NIi6ujUoo5faI/wyT1iYWxCIoyWCKO8NDKKSJilVUIiUCLQ0mK0U4veRaxBiRiD4RPJf9zQrZVLIr0zmVz7hEPAACM+lmuVp/4UlgAAAABJRU5ErkJggg==">
                        </div>
                        <div>
                            07/01/2021
                        </div>
                        <div>
                            <p class="font-serif">Đăng bởi: Dang Danh </p>

                        </div>

                    </div>
                    </div>
                    <div class="p-5">

                        <a href="#">
                            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Mẹo quản lý &
                                vệ sinh nội thất</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Đối với nội thất bằng kim loại

                            - Khi xử lý các vết bẩn thông thường, bạn chỉ cần xịt một chút dung dịch vệ sinh kính và dùng
                            khăn mềm để lau qua.
                            
                        </p>
                        
                    </div>
                </div>
                
                

                
                
            </div>
        </div>

    </div>


    <slot />
</template>
    
<script>
export default {
    data() {
        return {
            imageUrls: [
                'https://theme.hstatic.net/200000280801/1000673816/14/slider_1.jpg?v=17://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply'
                // 'https://theme.hstatic.net/1000409762/1000752712/14/slideshow_1.jpg?v=10',
                // 'https://theme.hstatic.net/1000409762/1000752712/14/slideshow_2.jpg?v=10',
                // 'https://theme.hstatic.net/1000409762/1000752712/14/slideshow_3.jpg?v=10'
            ],
            currentImageIndex: 0,
        };
    },
    computed: {
        imageUrl() {
            return this.imageUrls[this.currentImageIndex];
        },
    },
    mounted() {
        // Start the timer to switch the image every 5 seconds (adjust the duration as needed)
        setInterval(this.switchImage, 5000);
    },
    methods: {
        switchImage() {
            // Increment the currentImageIndex
            this.currentImageIndex++;

            // If the currentImageIndex exceeds the length of the imageUrls array, reset it to 0
            if (this.currentImageIndex >= this.imageUrls.length) {
                this.currentImageIndex = 0;
            }
        },
    },
};


</script>